/* .header-bg {
    background-color: red;
    list-style: none;
    color: white;
    text-align: center;
    width: 100vh;
    margin-left: 10vh;
} */

.header {
    background-color: red;
    top: 0;
    position: fixed;
    width: 80vw;
    margin-left: 10vw;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 100;
}